.jumbotron{
    text-align: center;
}


/* #animalSwitch{
    padding: 20px;
    margin: 20px auto;
    clear: both;
} */

.btn-primary{
    margin: 5px;
}

#anmial-form{
    padding: 10px;
    float: right;
    clear: both;
    display: block;
    position: relative;
}

#animals{
    padding: 10px;
    clear: both;
    margin-top: 90px;
    
}

.animalBTN{
    background-color: teal;
    color: white;
    height: 40px;
    font-weight: bold;
    border-radius: 5px;
    border-spacing: 2px;

}
.animalBTN:hover{
    background-color: springgreen;
    color: black;
}

#addAnimal{
    background-color: teal;
    color: white;
    height: 40px;
    font-weight: bold;
    border-radius: 5px;
}

#addAnimal:hover{
    background-color: coral;
    color: black;
}

.containerdiv{
    float: left;
    margin: 10px;
    padding: 10px;
}

.ratingDiv{
    font-weight: bold;
    padding: 4px;
}